*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    background-color: #fff;
    
}

/*Cabeçalho*/

.lema{
    color: #fff;
    background-color: transparent;
}

header{
    background-color: #040A44;
    text-align: center;
    padding: 14px;
    color: #fff;
    height: 100px;
}

#logo{
    text-align: top; 
    background-color: transparent;
    margin-left: -1180px;
    margin-top: -70px;
   
}

#img-lupa{
    background-image: url(../Imagens/lupa.png);
    text-align: top; 
    background-color: transparent;
    margin-left: 540px;
    margin-top: 0px;
}

/*GRID DE PRODUTOS*/

.container{
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.catalogo-produto{
    max-width: 1400px;
    margin: 0 auto;

}

.card{
    width: 29%;
    margin: 1% 1%;
    display: inline-block;
    padding: 15px;

}

.produto-imagem{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;

}

#img-1{
    background-image: url('../Imagens/tenis 1.webp');
}

#img-2{
    background-image: url('../Imagens/tenis 2.webp');
}

#img-3{
    background-image: url('../Imagens/tenis 3.webp');
}

#img-4{
    background-image: url('../Imagens/tenis 4.webp');
}

#img-5{
    background-image: url('../Imagens/tenis 5.jpg');
}

#img-6{
    background-image: url('../Imagens/tenis 6.webp');
}

#img-7{
    background-image: url('../Imagens/tenis 7.jpg');
}

#img-8{
    background-image: url('../Imagens/tenis 8.webp');
}

#img-9{
    background-image: url('../Imagens/tenis 9.webp');
}

#img-10{
    background-image: url('../Imagens/tenis 10.webp');
}

#img-11{
    background-image: url('../Imagens/tenis 11.jpg');
}

#img-12{
    background-image: url('../Imagens/tenis 12.jpg');
}

h3{
    margin-bottom: 10px;
    color: black;
    font-size: 16px;
    padding-left: 8px;
}

.card p{
    margin-bottom: 10px;
    text-align: center;
}


.bold{
    font-weight: bold;
}

.btn{
    display:block;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #040A44;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.btn:hover {
background-color: #0f642f;

}

footer{
    background-color: #D1D9F0;
    text-align: center;
    padding: 80px;
    color: black;
    background-color: transparent;
}

.form {
    --width-of-input: 300px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    top: -1px;
    right: -917px;
    width: var(--width-of-input);
   }
.input {
    color: black;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }

#tabela-produto{
    background-color: #fff;
}
