.lema{
    color: #fff;
    background-color: transparent;
    font-size: 25px;
    font-family: Helvetica;
}

header{
    background-color: #040A44;
    text-align: center;
    padding: 14px;
    color: #fff;
    height: 100px;
    
}

#logo{
    text-align: top; 
    background-color: transparent;
    margin-left: -1600px;
    margin-top: -130px;
    width: 130px;
}

.nome{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.genero{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.indicado{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.modelo{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.terreno{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.descricao-detalhada{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.voltar{
    display: block;
    width: 20%;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color:#040A44;
    padding: 15px;
    border-radius: 5px;
}
.voltar-compra{
    color: #fff;
    font-family: helvetica;
}