.lema{
    color: #fff;
    background-color: transparent;
    font-size: 25px;
    font-family: helvetica;
}

header{
    background-color: #040A44;
    text-align: center;
    padding: 14px;
    color: #fff;
    height: 100px;
    
}

.card{
    height: 350px;
    margin: 1%;
    flex-flow: row wrap;
}
#logo{
    text-align: top; 
    background-color: transparent;
    margin-left: -1600px;
    margin-top: -130px;
    width: 130px;
}

.nome{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.genero{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.indicado{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.modelo{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
.terreno{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}

.voltar{
    display: block;
    width: 20%;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color:#040A44;
    padding: 15px;
    border-radius: 5px;
}
.voltar-compra{
    color: #fff;
    font-family: helvetica;
}
.container-text{
    border: 1px solid #040A44;
    max-width: 1700px;
    display: flex;
    flex-flow: row wrap;
}
.descricao-detalhada{
    font-family: helvetica;
    font-size: 30px;
    width: 2000px;
    text-align: left;
}
@media scren and (max-width: 600px)
{
    .container-text{
        flex-direction: column;
    }
}   